.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}
.projects{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.5 ease;
}
.projects:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3, );
}
.projects img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;

}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;

}
.card span{
   background-color: rgba(255,191,0,0.1, ); 
   color: #FFbf00;
   padding: 4px 8px;
   border-radius: 5px;
   font-size: 0.75rem;
   margin-right: 5px;
   background-color: rgb(87, 66, 39);
   
}



@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .projects img {
    height: 150px;
  }

  .card {
    padding: 15px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }
}
.bold{
  color: #FFbf00;
}